body{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    'head head '
    'main main' 
    'footer footer' ;
    
}
header{
    margin-top: 0;
    display: flex;
    align-items: center;
    border-bottom: solid 1px ;
    grid-area: head ;
    padding: 5px;
}

.menu{
    text-decoration: none;
    color: black;

    margin-right: 20px;
}
.menu:hover{
   font-size: large;
   color: rgb(79, 208, 252);
}

#empresa{
    color: rgb(79, 208, 252);
    margin-right: 80px
    ;
}


footer{
    background-color: rgb(175, 224, 240);
    color: white;
    text-align: center;
    padding-top: 40px;
    grid-area: footer;
    border-radius: 10px;
    grid-area: footer ;
}
main{
    grid-area: main ;
    background-image: url(./img/aire.jpg) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
  
   
}

.nav_contacto{
    display: flex;
    margin-left: 50px;
    position: absolute ;
    right: 30px ;
    top: 20px;
    align-items: center;
    border-left: solid 1px rgb(35, 127, 212);
    padding-left: 10px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 15px;
    line-height: 6px;

    
}
.logo span{
 font-size: 18px;
 font-weight: 700;
}
#presentacion{
    width: 350px;
    height: 450px;
    background-color:rgb(255,255,255,0.5);
    position: absolute;
    left: 100px;
    margin-top: 50px;
    border-radius: 10px;
    border:  solid 8px rgb(35, 127, 212); 
    padding: 10px;     
      
}

#pagina-contacto h1 {
    text-decoration: underline; /* Subrayado solo en las palabras */
    display: inline-block; /* Hacer que el h1 se comporte como un bloque en línea */
    text-align: center; /* Centrar en la línea de la página */
    background-color: blue;
}
